* {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
position: absolute;
width: 270px;
height: 100px;
left: 64px;
top: 5px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
text-align: center;
color: #F2AF00;

}
.fraseinicial{
position: absolute;
width: 570px;
height: 65px;
left: 710px;
top: 140px;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
text-align: center;
color: #F2AF00;
}

.frase_cadastro{
position: absolute;
width: 570px;
height: 66px;
left: 100px;
top: 250px;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #F2AF00;
}

.falha{
    
    
    
    left: 150px;
    
    }



.imagemcatdog{
position: absolute;
width: 480px;
height: 416px;
left: 743px;
top: 230px;
background: url(/images/dog_cat\ .png);
border-radius: 200px;
}

div#corpoformulario{
position: absolute;
left: 100px;
top: 300px;
font-size: 18px;
}
div#corpoformulario_cadastro{
    position: absolute;
    left: 100px;
    top: 200px;
    font-size: 18px;
    }


.cardgroup > input{
height: 45px;
width: 345px;
display: block;
margin-top: 15px;
margin-bottom: 15px;
background: #F9F4F4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
color: #4C4C4C;
outline: none;
padding: 10px;
}


.cardgroup_cadastro > input{
    height: 45px;
    width: 170px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    background: #F9F4F4;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #4C4C4C;
    outline: none;
    padding: 10px;
   
}

.texto_sobrenome{
    color: red;
    display: inline;
}


.cardgroup > button
{
height: 40px;
width: 350px;
padding: 10px;
text-decoration: none;
background-color:#4AC99B ;
border-radius: 10px;
color: #F9F4F4;
border: none;
box-sizing: border-box;
border-radius: 10px;
outline: none;
padding: 10px;
border-radius: 10px;

}



#pwdf,
#cadastrar,
.cardgroup > a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    height: 100px;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #F2AF00;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 0px;
}


#pwdf:hover,
#cadastrar:hover{
    color: blue;
}

#dont
{
    font-size: 14px;
    color: #4C4C4C;
}

#cancelar_cadastro{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    height: 100px;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #F2AF00;
    margin-bottom: 20px;
    margin-left: 145px;
    align-self: center;

}

.container{
    display: flex; 
}

.container2{
    display: flex;
}


